@font-face {
	font-family: 'Airstream';
	src: url('../fonts/Airstream.eot');
	src: url('../fonts/Airstream.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Airstream.woff') format('woff'),
		url('../fonts/Airstream.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}